In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
import warnings
warnings.filterwarnings('ignore')

Step 1: Read the lending_data.csv data from the Resources folder into a Pandas DataFrame.

In [2]:
# Read the healthcare-stroke-data CSV file from the Resources folder into a Pandas DataFrame
df = pd.read_csv("Resources/healthcare-stroke-data.csv")

# Review the DataFrame
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
# Drop rows with NaN values
df_cleaned = df.dropna()
print(df_cleaned)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
5     56669    Male  81.0             0              0          Yes
...     ...     ...   ...           ...            ...          ...
5104  14180  Female  13.0             0              0           No
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
5           Private          Urban             186.21  29.0  formerly smoked
...             ...            ...                ...   ...              ...
5104       children          Rural             103.08  18.6          Unknown
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
2          1
3          1
4          1
5          1
...      ...
5104       0
5106       0
5107       0
5108       0
5109       0

[4909 rows x 12 columns]

In [4]:
#Save a df_cleand csv file  

# Specify the file path where we want to save the CSV file
file_path = "cleaned_data.csv"

# Save the DataFrame to a CSV file
df_cleaned.to_csv(file_path, index=False)

# Print a message to confirm that the DataFrame has been saved
print(f"DataFrame saved to {file_path}")

DataFrame saved to cleaned_data.csv

In [5]:
# Converting the none numeric columns to numric values 

# Convert the 'gender' column to a numeric value
df_cleaned['gender'] = df_cleaned['gender'].astype('category').cat.codes
# Convert the 'age' column to a numeric value
df_cleaned['age'] = df_cleaned['age'].astype('int')
# Convert the 'hypertension' column to a numeric value
df_cleaned['hypertension'] = df_cleaned['hypertension'].astype('int')
# Convert the 'heart_disease' column to a numeric value
df_cleaned['heart_disease'] = df_cleaned['heart_disease'].astype('int')
# Convert the 'ever_married' column to a numeric value
df_cleaned['ever_married'] = df_cleaned['ever_married'].astype('category').cat.codes
# Convert the 'work_type' column to a numeric value
df_cleaned['work_type'] = df_cleaned['work_type'].astype('category').cat.codes
# Convert the 'Residence_type' column to a numeric value
df_cleaned['Residence_type'] = df_cleaned['Residence_type'].astype('category').cat.codes
# Convert the 'avg_glucose_level' column to a numeric value
df_cleaned['avg_glucose_level'] = df_cleaned['avg_glucose_level'].astype('float')
# Convert the 'bmi' column to a numeric value
df_cleaned['bmi'] = df_cleaned['bmi'].astype('float')
# Convert the 'smoking_status' column to a numeric value
df_cleaned['smoking_status'] = df_cleaned['smoking_status'].astype('category').cat.codes
# Print the converted data
print(df_cleaned)

         id  gender  age  hypertension  heart_disease  ever_married  \
0      9046       1   67             0              1             1
2     31112       1   80             0              1             1
3     60182       0   49             0              0             1
4      1665       0   79             1              0             1
5     56669       1   81             0              0             1
...     ...     ...  ...           ...            ...           ...
5104  14180       0   13             0              0             0
5106  44873       0   81             0              0             1
5107  19723       0   35             0              0             1
5108  37544       1   51             0              0             1
5109  44679       0   44             0              0             1

      work_type  Residence_type  avg_glucose_level   bmi  smoking_status  \
0             2               1             228.69  36.6               1
2             2               0             105.92  32.5               2
3             2               1             171.23  34.4               3
4             3               0             174.12  24.0               2
5             2               1             186.21  29.0               1
...         ...             ...                ...   ...             ...
5104          4               0             103.08  18.6               0
5106          3               1             125.20  40.0               2
5107          3               0              82.99  30.6               2
5108          2               0             166.29  25.6               1
5109          0               1              85.28  26.2               0

      stroke
0          1
2          1
3          1
4          1
5          1
...      ...
5104       0
5106       0
5107       0
5108       0
5109       0

[4909 rows x 12 columns]

Step 2: Create the labels set (y) from the “stroke” column, and then create the features (X) DataFrame from the remaining columns.

In [6]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df_cleaned["stroke"]

# Separate the X variable, the features
X = df_cleaned.drop(columns="stroke")

In [7]:
# Review the y variable Series
print(y)

0       1
2       1
3       1
4       1
5       1
       ..
5104    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 4909, dtype: int64

In [8]:
# Review the X variable DataFrame
X.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,9046,1,67,0,1,1,2,1,228.69,36.6,1
2,31112,1,80,0,1,1,2,0,105.92,32.5,2
3,60182,0,49,0,0,1,2,1,171.23,34.4,3
4,1665,0,79,1,0,1,3,0,174.12,24.0,2
5,56669,1,81,0,0,1,2,1,186.21,29.0,1

Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [9]:
# Check the balance of target values
print(y.value_counts())

0    4700
1     209
Name: stroke, dtype: int64

In [10]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

## Create a Logistic Regression Model with the Original Data

In [11]:
# Import Logistic Regression module
from sklearn.linear_model import LogisticRegression

# Create a Logistic Regression model
model = LogisticRegression(random_state=1)

In [12]:
# Fit the model to the training data
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [13]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [14]:
# Calculate balanced accuracy
balanced_accuracy = balanced_accuracy_score(y_test, y_pred)
print(f"Balanced Accuracy: {balanced_accuracy:.2f}")

# Generate a confusion matrix
confusion = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(confusion)

# Generate a classification report
classification_rep = classification_report(y_test, y_pred)
print("Classification Report:")
print(classification_rep)

Balanced Accuracy: 0.51
Confusion Matrix:
[[1176    0]
 [  51    1]]
Classification Report:
              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1176
           1       1.00      0.02      0.04        52

    accuracy                           0.96      1228
   macro avg       0.98      0.51      0.51      1228
weighted avg       0.96      0.96      0.94      1228